FrontSistemaFOP/Connected Services/ServiciosAspirante/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:87/ServicioAgente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:87/ServicioAgente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:87/ServicioAgente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" />
      <xsd:import schemaLocation="http://localhost:87/ServicioAgente.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioAgente_GuardarAspirate_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAspirate" />
  </wsdl:message>
  <wsdl:message name="IServicioAgente_GuardarAspirate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAspirateResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAgente_ListarAspirantesActivos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAspirantesActivos" />
  </wsdl:message>
  <wsdl:message name="IServicioAgente_ListarAspirantesActivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAspirantesActivosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAgente_ObtenerAspirantePorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAspirantePorId" />
  </wsdl:message>
  <wsdl:message name="IServicioAgente_ObtenerAspirantePorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAspirantePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAgente_ActualizarAspirante_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAspirante" />
  </wsdl:message>
  <wsdl:message name="IServicioAgente_ActualizarAspirante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAspiranteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAgente_ObtenerAspirantesSinGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAspirantesSinGrupo" />
  </wsdl:message>
  <wsdl:message name="IServicioAgente_ObtenerAspirantesSinGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAspirantesSinGrupoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioAgente">
    <wsdl:operation name="GuardarAspirate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAgente/GuardarAspirate" message="tns:IServicioAgente_GuardarAspirate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAgente/GuardarAspirateResponse" message="tns:IServicioAgente_GuardarAspirate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAspirantesActivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAgente/ListarAspirantesActivos" message="tns:IServicioAgente_ListarAspirantesActivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAgente/ListarAspirantesActivosResponse" message="tns:IServicioAgente_ListarAspirantesActivos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAspirantePorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAgente/ObtenerAspirantePorId" message="tns:IServicioAgente_ObtenerAspirantePorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAgente/ObtenerAspirantePorIdResponse" message="tns:IServicioAgente_ObtenerAspirantePorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarAspirante">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAgente/ActualizarAspirante" message="tns:IServicioAgente_ActualizarAspirante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAgente/ActualizarAspiranteResponse" message="tns:IServicioAgente_ActualizarAspirante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAspirantesSinGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAgente/ObtenerAspirantesSinGrupo" message="tns:IServicioAgente_ObtenerAspirantesSinGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAgente/ObtenerAspirantesSinGrupoResponse" message="tns:IServicioAgente_ObtenerAspirantesSinGrupo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioAgente" type="tns:IServicioAgente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarAspirate">
      <soap:operation soapAction="http://tempuri.org/IServicioAgente/GuardarAspirate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAspirantesActivos">
      <soap:operation soapAction="http://tempuri.org/IServicioAgente/ListarAspirantesActivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAspirantePorId">
      <soap:operation soapAction="http://tempuri.org/IServicioAgente/ObtenerAspirantePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAspirante">
      <soap:operation soapAction="http://tempuri.org/IServicioAgente/ActualizarAspirante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAspirantesSinGrupo">
      <soap:operation soapAction="http://tempuri.org/IServicioAgente/ObtenerAspirantesSinGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IServicioAgente" binding="tns:BasicHttpBinding_IServicioAgente">
      <soap:address location="http://localhost:87/ServicioAgente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>