FrontSistemaFOP/Connected Services/ServiciosAspirante/ServicioAgente3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosFOP.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Aspirante">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdAspirante" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroEmpleado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aspirante" nillable="true" type="tns:Aspirante" />
  <xs:complexType name="ArrayOfAspirante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aspirante" nillable="true" type="tns:Aspirante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspirante" nillable="true" type="tns:ArrayOfAspirante" />
</xs:schema>